a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
html
body{
    font:20px 'catamaran';
    line-height:29px;
}
header{
    background-image: url(./biker-land-assets/image-1.jpg);
    background-size: cover;
    text-align: center;
    padding: 30px;
    background-repeat: no-repeat;
    height:100vh;
}
header a{
    color:white;
}
.wrapper{
    max-width: 1200px;
    width: 85%;
    margin:0 auto;
}
nav ul li{
    display: inline-block;
    margin:0 20px;
}
nav{
    text-align: center;
}
a{
    color:white;
    text-decoration: none;
}
.socialMedia{
    float:right;
    margin:150px 0;
    color: #F2A11C;

}
.socialMedia li{
margin:10px 0;
font-size:20px
}
.socialMedia a{
color: #F2A11C;
}
h1{
    margin:150px auto;
    font: 90px 'pacifico';
    color: #F2A11C;
}
.aboutUs{
    background-image: url(./biker-land-assets/image-2.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.aboutUs .readMore{
    width: 50%;
    float:left;
}
.ourMission{
    background-image: url(./biker-land-assets/image-7.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
}
.ourMission .readMore{
    width: 50%;
    float:right;
}
.ourMission .readMore, .aboutUs .readMore{
        padding: 5% 5%;
}
h2{
    font: 42px 'pacifico';

}
button{
    margin-top: 15px;
    background-color:#1F2022;
    color:#F2A11C;
    border:none;
    padding:10px;
}
.meetAlisa{
    padding:5% 0;
    background-color: #F4F4F4;
}
.meetAlisa .wrapper{
    background-image: url(./biker-land-assets/image-6.jpg);
    background-size: 40% 100%;
    background-position: left;
    background-repeat: no-repeat;
}
.meetAlisa .readMore{
    width:60%;
    float:right;
    padding-left: 30px;
}
.more{
    background-image: url(./biker-land-assets/image-5.jpg);
    background-size: cover;
    padding:100px 0;
}
.more ul li{
    display: inline-block;
    margin:35px 35px;
    color:#F2A11C;
    font-size: 30px;
}
.more a{
    color: white;
}
.more ul{
    text-align: center;
}
.theGram{
text-align: center;
margin:50px 0;
}
.theGram h2{
    margin-bottom: 20px;
}
.theGram .wrapper img{
    float:left;
    width:calc(33.33% - 20px);
    margin:0 10px;
}
.contact{
 float:left;
 width:50%;
}
.stayUpdated{
float: right;
width:50%;
}
label{
    display:block
}
input{
    padding:0;
    border: none;
}
footer{
    background-color:#1F2022 ;
}
h3{
   font: 25px 'pacifico';
    color: #F2A11C; 

}
footer .wrapper{
    padding:40px 0;
    color:white;
}
footer nav{
    margin-bottom: 20px;
}
.copyRight{
    background-color:black;
    text-align: center;
}
.email{
    width: 60%;
    float:left;
}
.submit{
    background-color:#F2A11C;
    float:left;
    padding:0 20px;
}
@media(max-width:1140px){
    .stayUpdated{
        float: none;
        width: auto;
    }
    .contact{
        float:none;
        width: auto;
    }
}
@media(max-width:920px){
    .aboutUs .readMore, .ourMission .readMore{
        float:none;
        width:auto;
    }
    .aboutUs{
    background-image: url(./biker-land-assets/image-2.jpg);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 250px;
}
.ourMission{
    background-image: url(./biker-land-assets/image-7.jpg);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 250px;
}
.socialMedia{
    display: none;
}
header nav ul{
    display: none;
}
footer .wrapper{
    text-align: center;

}
.contact{
    margin-bottom: 20px;
}
.submit{
        float:none;
        width: 70%;
    }
.email{
        float: none;
        width: 70%;
    }
}
@media(max-width:650px){
    .meetAlisa .readMore{
        float:none;
        width:auto;
    }
  .meetAlisa .wrapper{
    background-image: url(./biker-land-assets/image-6.jpg);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 250px;
} 
 .meetAlisa .readMore {
    padding:0;
}
.theGram img:nth-of-type(3){
    display: none;
}
.theGram .wrapper img{
    float:left;
    width:calc(50% - 20px);
    margin:0 10px;
}

}
@media(max-width:478px){
    h1{
        font-size: 70px;
    }
}






